body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: #ffc107;
  background-color: #6d7993;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
}

.info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.timer,
.moves,
.score {
  text-align: center;
  margin: 0 10px;
  background-color: #ffc107;
  border-radius: 10px;
  padding: 10px;
}

.score {
  display: flex;
  align-items: center;
}

.score > p {
  border: 2px solid #6d7993;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  background-color: #6d7993;
  border-radius: 10px;
  padding: 10px;
}

#overlay {
  position: absolute;
  width: 400px;
  height: 400px;
  padding: 10px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.preGameOverlay {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#overlay > h1 {
  color: white;
  font-size: 100px;
}

#overlay-pause {
  display: none;
}

#button-container {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

#button-container > button {
  margin: 10px;
}

.tile {
  width: 90px;
  height: 90px;
  margin: 5px;
  background-color: #ffc107;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  -webkit-user-select: none; /*Safari*/
  -moz-user-select: none; /*Firefox*/
}

@media (min-width: 350px) and (max-width: 480px) {
  /* CSS */
  #overlay {
    width: 350px;
    height: 350px;
  }

  #board {
    width: 350px;
    height: 350px;
  }

  .tile {
    width: 22%;
    height: 22%;
  }

  .timer,
  .moves,
  .score {
    padding: 5px;
  }
}
